# {{ ansible_managed }}

# Boolean options
{% for option_key, option_value in vsftpd_main_config.boolean_options.iteritems() %}
{{ option_key }}={{ option_value | vsftpd_boolean_render() }}
{% endfor %}

# Integer options
{% for option_key, option_value in vsftpd_main_config.integer_options.iteritems() %}
{{ option_key }}={{ option_value | vsftpd_positive_integer_validate() }}
{% endfor %}

# Octal options
{% for option_key, option_value in vsftpd_main_config.octal_options.iteritems() %}
{{ option_key }}={{ option_value | vsftpd_octal_mode_validate() }}
{% endfor %}

# String options
{% for option_key, option_value in vsftpd_main_config.string_options.iteritems() %}
{{ option_key }}={{ option_value }}
{% endfor %}
